.card-form{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 0px solid gray;
    width: 800px;
    height: 500px;
    box-shadow: darkgrey;
    margin-left: 300px;
    margin-top: 50px;
}