.title {
    font-size: 50px;
    font-family: "Arial Black";
    color: #e32424;
    text-align: center;
}
.detail {
    font-size: 30px;
    font-family: "Zapf Dingbats";
}
.imgClass {
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    padding: 10px;
    border-color: brown;
    border-radius: 10px;
}