@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Rubik+Pixels&display=swap');
.title {
    /*font-family: 'Rubik Pixels', cursive;*/
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}


.btnClass {
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 14px;
    border: 1px solid #2d63c8;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-family: sans-serif;
    text-decoration: none;
    float: left;
}
.btnClass:hover {
    color: #2d63c8;
    background-color: #ffffff;
}

.submit {
    background-image: url("img/send.png");
    width: 20px;
    height: 20px;
    border: none;
}

.reset {
    background-image: url("img/reset.png");
    width: 20px;
    height: 20px;
    border: none;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
